.img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin: 5px;
}

.div {
  background: #ffffff;
  border: 2px solid #07ab0f;
  border-radius: 10px;
  margin: 10px;
}

h3 {
  color: #07ab0f;
}
